* {
    box-sizing: border-box;
  }
  
  body {
    background-attachment: fixed;
    background-image: url('img/bricks.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Style the header */
  header {
    background-color: #230700;
    color: white;
    font-size: 35px;
    padding: 30px;
    text-align: center;
  }
  
  /* Create two columns/boxes that floats next to each other */
  nav {
    background: #34011F;
    color: white;
    float: left;
    padding: 20px;
    text-decoration: none;
    width: 20%;
  }
  
  /* Style the list inside the menu */
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  aside {
    background-color: lightgray;
    float: left;
    padding: 20px;
    width: 20%;
  }

  article {
    background-color: #f1f1f1;
    float: left;
    padding: 20px;
    width: 80%;
  }
  
  section {
      margin-left: 50px;
      margin-right: 50px;
  }

  /* Clear floats after the columns */
  section::after {
    clear: both;
    content: "";
    display: table;
  }
  
  /* Style the footer */
  footer {
    background-color: #777;
    color: white;
    padding: 10px;
    text-align: center;
  }
  
  /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
    @media (max-width: 600px) {
        nav, article {
            height: auto;
            width: 100%;
        }
    }